.lista{
    list-style-type: square;
}


.listb{
    list-style-type: circle;
}

.listc{
    list-style-type: decimal-leading-zero;
}

.listd{
    list-style-type: upper-alpha;
}

.liste{
    list-style-image: url(../HTML/HTML/abc/bce/cde/ti1.jpeg);
    margin: 100px;
}


ol {
    background: #ff9999;
    padding: 20px;
  }
  
  ul {
    background: #3399ff;
    padding: 20px;
  }
  
  ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
  }
  
  ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
  }