*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
    color: #fff;
}
:root{
    --BGCOLOR: #555;
    --COLOR: #fff;
}
body{
    /* background-color: #444; */
}
.menuArea{
    max-width: 100%;
    background-color: var(--BGCOLOR);
}
.alignment{
    max-width: 80%;
    /* background-color: #999; */
    margin: auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_ul li{
    list-style-type: none;
}
.menu_ul a{
    text-decoration: none;
}
.menu_ul{
    display: flex;
}
.menu_ul li a{
    display: block;
    padding: 20px 20px;
}
.menu_ul li a:hover{
    background-color: rgba(39, 220, 81, 0.871);
    font-size: xx-large;
    transition: .7s;
}
/* ///////////////////////////////////////////////// */

.port{
    display: none;
    background-color: var(--BGCOLOR);
    width: 100%;
}
.menu_ul li:hover .port{
    display: block;
}
.menu_ul li{
    position: relative;
}
.port{
    position: absolute;
}
/* //////////////////////////////////////////////// */

.subport{
    display: none;
    background-color: var(--BGCOLOR);
}
.port li:hover .subport{
    display: block;
}
.port li{
    position: relative;
}

.subport{
    position: absolute;
    right: 100%;
    top: 0px;
}

/* ///////////////////////////////////////////////////// */

.shm{
    display: none;
    background-color: var(--BGCOLOR);
}
.menu_ul li:hover .shm{
    display: block;
    background-color: var(--BGCOLOR);
}
.menu_ul li{
    position: relative;
}
.shm{
    position: absolute;
}
/* /////////// */

.sahm{
    display: none;
    background-color: var(--BGCOLOR);
}
.shm li:hover .sahm{
    display: block;
}

.shm li{
    position: relative;
}
.sahm{
    position: absolute;
    left: 100%;
    top: 0px;
}





